<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SB Scanner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body style="background-color: floralwhite">
    <h1 class="display-3 mt-3 mb-5" align="center">SB Scanner</h1>
    {% for commit in commit_list %}
        <div class="card mb-3 shadow mx-auto" style="max-width:50rem">
            <div class="card-body">
                <div class="media">
                    <img src="{{ commit.avatar_url }}" class="mr-3" height="64" width="64">
                    <div class="media-body">
                        <h5>{{ commit.author }}</h5>
                        <p class="text-muted">{{ commit.date }}</p>
                    </div>
                </div>
                <p class="card-text">{{ commit.message }}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{{ commit.url }}" class="btn btn-primary mx-auto">See on GitHub</a>
            </div>
        </div>
    {% endfor %}
    <footer class="mt-5" style="text-align: center;padding: 36px 0 36px 0;background-color: black">
        <p style="color: white">Made by Wonwoo Seo</p>
        <a href="https://api.sb-scanner.info/latest" style="color:white">API</a>
    </footer>
</body>
</html>